#logo2{
    display: block;
    margin: auto;
}
.abajoYArriba{
    background-color: #A5C8AF;
}
#bienvenido{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
}
#ayuda{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.botonesPrincipal{
    width: 316px;
    height: 120px;
    margin-left: 240px;
    margin-top: 50px;
    border-radius: 20px;
    background: #CEEFEB;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 42px;
    font-family: sans-serif;
    border: 1px solid #EFAF64;
    
}
body{
    background-color: 
    #D1E5CC;
}
#textoFooter{
    
    text-align: center;
    height: 60px;
    font-size: 15px;
    bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
    

}
.logos{
    vertical-align: middle;
}